/* ==========================================================================
   #basic reset & import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Baloo:300,400,700);

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* ==========================================================================
   #typography
   ========================================================================== */

h1,
h2,
h3,
h4,
p {
    line-height: 1.5;
	font-weight: 300;
	margin: 0;
	color: #fff;
}

ul,
ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}





/* ==========================================================================
   #links & buttons
   ========================================================================== */

a {
	text-decoration: none;
	font-weight: 300;
	color:#27AE60;
}


/* ==========================================================================
   #Helpers
   ========================================================================== */

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

.overflow-hidden {
	overflow: hidden;
}

/* ==========================================================================
   #Header
   ========================================================================== */

header {
	height: 130px;
	padding-top: 50px;
	/*border:1px solid green;*/
}

header.site {
    position: relative;
    z-index: 100;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    /*padding: 15px 0 0;
    height: 90px;*/
}

.container{
	max-width: 1170px;
	margin-right: auto;
	margin-left: auto;
}

.logo-site {
	width: 50%;
	float: left;
	padding-left: 1rem;
    padding-right: 1rem;
    font-size: 35px;
    font-family: 'Baloo', cursive;
}

.header-menu {
	width: 50%;
	float: left;
	padding-left: 1rem;
    padding-right: 1rem;
    font-size: 35px;
	font-family: 'Baloo', cursive;
}

.header-menu ul{
	float: right;
}

.header-menu li{
	display: inline-block;
	padding-left: 35px;
}

.icon-github {
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.icon-linkedin {
	/*display: none;*/
}

.icon-mail {
	/*display: none;*/
}

.icon-github:hover {
	color: #24292e;
       -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);


}

.icon-linkedin:hover {
	color: #0077B5;
}

.icon-mail:hover {
	color: #d7d7d7;
}


/* ==========================================================================
   #Intro
   ========================================================================== */

.intro {
	background-color: #f4f6f9;
    padding-top: 2rem;
    padding-bottom: 9rem;
    min-height: 100vh;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: cubic-bezier(.84,-.42,0,1.37) 2s min-height;

}

.intro.autoheight {
    min-height: 450px;
}

/* ==========================================================================
   #Recent Works
   ========================================================================== */


.main {
    margin-top: -7rem;
    padding-bottom: 9rem;
    height: 1200px;
    /*border: 1px solid blue;*/
}

.main-title {
	/*border: 1px solid green;*/
	width: 15%;
	display: block;
	float: left;
	padding:6%;
	position: relative;
    /*width: 80px;*/
    /*position: fixed;*/
    /*left: 0;
    top: 0;
    bottom: 0;*/
    font-size: 25px;
    ms-writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	-webkit-text-orientation: upright;
	-moz-text-orientation: upright;
	-ms-text-orientation: upright;
	text-orientation: upright;
}


.main-column {
	width: 70%;
	display: block;
	float: left;
	/*border: 1px solid orange;*/
}

.main-space {
	border: 1px solid green;
	width: 15%;
	display: block;
	float: left;
}

.column-box {
	width: 50%;
  padding: 20px;
  box-sizing:border-box;
  float:left;
  /*border:1px solid red;*/

}

/*.column-content {
	background-color: #fff;
    box-shadow: 0 2rem 3rem rgba(37,55,134,.2);
    position: relative;
    display: block;
}*/

.hex-holder{
  position: relative;
  margin: 1em auto;
  width: 12em;
  height: 20.32em;
  border-radius: 1em/ .5em;
  opacity: .25;
  background: orange;
  transition: opacity .5s;
  cursor: pointer;
  box-shadow: 0 2rem 3rem rgba(37,55,134,.2);
}

.hex-holder:before, .hex-holder:after {
  position: absolute;
  width: inherit; height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.hex-holder:before {
  transform: rotate(60deg);
}
.hex-holder:after {
  transform: rotate(-60deg);
}
.hex-holder:hover {
  opacity: 1;
}


/* ==========================================================================
   #Footer
   ========================================================================== */

.footer {
    background-color: #f4f6f9;
    padding-top: 6.8rem;
}

.footer-content {
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid rgba(6,52,164,.1);
    padding: 3rem 1rem;
    font-size: .875rem;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 3.8rem;
    line-height: 1.7em;
}